.header {
    background-color: #007d79;
    font-family: Verdana, sans-serif;
    font-style: 2.3rem;
    font-style: italic;
    color: white;
}

.tagline {
    font-size: 1rem;
    margin-right: 15px;
    font-style: italic;
    color: #f0f7f6;
}

#monthPicker {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1rem;
    width: 170px;
}

#addEntryBtn {
    background-color: #007d79;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
}

#addEntryBtn:hover {
    background-color: #005d5d;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-icon {
    margin-right: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#expense-submit-btn {
    background-color: #007d79;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    /** Align Tagline in header to the left **/
    .tagline {
        float: left;
    }
    /** Align month filter in header to the left **/
    #monthFilter {
        float: left !important;
    } 
    /** Adjust margins **/
    .card {
        margin-bottom: 5px;
    }
    .main-container {
        margin-top: 15px;
    }
    .row {
        margin-top: 15px;
    }
}